{% extends 'appBiblioteca/base.html' %}
{% load static %}

{%block cuerpo%}

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="http://www2.mdp.edu.ar/images/jlococo/antiguedades-y-libros.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h2> Ingresar nueva documentación</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Enviar">
                </form>
        </div>
    </div>

{%endblock cuerpo%}


{% block tarjetas %}

{% endblock tarjetas %}